// Set your brand colors
$red: #d62739;

// Path to Bulma's sass folder
@use 'bulma/sass' with (
	$primary: $red
);

[data-theme='dark-va-hero'],
.theme-va-hero {
	.level {
		background: #2a2a2a;
		color: #ffffff;
	}
}
