.va-sidebar-menu {
	width: 280px;
	height: 100vh;
	position: absolute;
	top: 0;
	left: -999px;
	z-index: 999;
	overflow-y: scroll;
	padding-top: 15px;
	padding-left: 10px;
	background: white;

	.va-close-sidebar {
		float: right;
    padding-right: 15px;
	}
}

.is-active-sidebar-menu {
	left: 0;
}
