.va-sidebar-menu {
	width: 280px;
	height: 100vh;
	position: absolute;
	top: 0;
	z-index: 999;
	overflow-y: scroll;
	padding-top: 15px;
	padding-left: 10px;
	background: white;
	transform: translateX(-280px);
	transition: all 400ms linear;

	.va-close-sidebar {
		float: right;
		padding-right: 15px;
	}
}

.is-active-sidebar-menu {
	transform: translateX(0);
	transition: all 400ms linear;
}

@media (prefers-color-scheme: dark) {
	.va-sidebar-menu {
		background: #2a2a2a;

		.menu-label {
			color: #ffffff;
		}

		a {
			background: #2a2a2a !important;
		}

		.has-background-primary-light {
			background: rgba(0, 0, 0, 0.5) !important;
		}
	}
}
